<% layout('layout/boilerplate') %>

<div class="mb-5" id="cluster-map"></div>

<h1>All Campgrounds</h1>
<div class="mb-4">
  <a href="/campgrounds/new">Add Campground</a>
</div>

<% for(let campground of campgrounds) { %>

<div id="card-container" class="card shadow mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.image.length) {%>
      <img
        crossorigin="anonymous"
        class="img-fluid"
        alt=""
        src="<%= campground.image[0].url %>"
      />
      <% } else { %>
      <!-- default show image if author didn't publish any -->
      <img
        crossorigin="anonymous"
        class="img-fluid"
        alt=""
        src="https://res.cloudinary.com/dgvwmhkrr/image/upload/v1729043982/YelpCamp/iisjymbsbkgsnubsanhv.png"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
          >View <%= campground.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
